language: julia
sudo: false
os:
  - linux
  - osx
julia:
  - 0.5
  - 0.6
  - nightly
notifications:
    email: false
addons:
    apt:
        packages:
            - xvfb
            - xauth
            - libgtk-3-0
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - if [[ `uname` = "Linux" ]]; then TESTCMD="xvfb-run julia"; else TESTCMD="julia"; fi
    - $TESTCMD -e 'Pkg.clone(pwd()); using BinDeps;
          println(BinDeps.debug("Gtk"));
          Pkg.build("Gtk");
          Pkg.test("Gtk"; coverage=true)'
after_success:
    - julia -e 'cd(Pkg.dir("Gtk"));
                Pkg.add("Coverage");
                using Coverage;
                Coveralls.submit(Coveralls.process_folder())'
    # update the documentation
    - julia -e 'Pkg.add("Documenter"); Pkg.checkout("Documenter")'
    - $TESTCMD -e 'cd(Pkg.dir("Gtk")); ENV["DOCUMENTER_DEBUG"] = "true"; include(joinpath("docs", "make.jl"))'
