# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
os:
  - linux
  - osx
  - windows
arch:
  - x64
  - x86
  - arm64
julia:
  - 1.3
  - 1.4
  - nightly
# uncomment the following lines to allow failures on nightly julia
# (tests will run but not make your overall status red)
matrix:
  allow_failures:
    - julia: nightly
    - os: osx
    - stage: "Documentation" # This shouldn't be necessary
  exclude:
    - os: osx
      arch: x86
    - os: osx
      arch: arm64
    - os: windows
      arch: arm64
    - julia: nightly
      arch: arm64
notifications:
  email: false
git:
  depth: 99999999
addons:
  apt:
    packages:
      - xvfb
      - xauth
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - if [[ `uname` = "Linux" ]]; then TESTCMD="xvfb-run julia"; else TESTCMD="julia"; fi
  - travis_wait 30 $TESTCMD -e 'using Pkg; Pkg.build(); Pkg.test(coverage=true)'

## uncomment following lines to deploy documentation
jobs:
   include:
     - stage: Documentation
       julia: 1.3
       os: linux
       script:
         - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.add(PackageSpec(path=pwd()))'
         - xvfb-run julia --project=docs docs/make.jl
       after_success: skip

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
